﻿@{
    ViewBag.Title = "Home Page";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" >Welcome to Educational portal site</h1>
                @if (Session["LogedUserID"] != null)
                {
                    <p><a href="~/Subscribe/Subscribe" class="btn btn-primary btn-large">Subscribe &raquo;</a></p>
                }
            </div>
        </div>
    </div>
</div>
        
