﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@model IEnumerable<Education.Dtos.SubscriptionDetailDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create SubscriptionDetail
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/Index">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-share-alt"></i> Create SubscriptionDetail
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    SubscriptionDetails
                </div>
                <div class="panel-body">
                    <h3> @Html.ActionLink("Add New SubscriptionDetail", "AddSubscriptionDetail")</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    SubscriptionDetails List
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>SubscriptionDetail ID</th>
                                                    <th>User Title</th>
                                                    <th>SubscriptionType Title</th>
                                                    <th>UserSubscription Title</th>
                                                    <th>Content Title</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*@foreach (var subDetail in Model)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(p => subDetail.Id)</td>
                                                            <td>@Html.DisplayFor(p => subDetail.UserId)</td>
                                                            <td>@Html.DisplayFor(p => subDetail.SubscriptionTypeId)</td>
                                                            <td>@Html.DisplayFor(p => subDetail.UserSubscriptionId)</td>
                                                            <td>@Html.DisplayFor(p => subDetail.ContentId)</td>
                                                            <td>@Html.DisplayFor(p => subDetail.StartTime)</td>
                                                            <td>@Html.DisplayFor(p => subDetail.EndTime)</td>
                                                            <td>@Html.ActionLink("Update", "UpdateSubscriptionDetail", new { id = @subDetail.Id })</td>
                                                            <td> @Html.ActionLink("Delete", "DeleteSubscriptionDetail", new { id = @subDetail.Id })</td>
                                                        </tr>
                                                    }*@

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>



