﻿
@{
    ViewBag.Title = "UpdateSubscriptionDetail";
}

<h2>UpdateSubscriptionDetail</h2>

@Model Education.Dtos.SubscriptionDetailDto
@{
    ViewBag.Title = "UpdateSubscriptionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sessionVar = Session["LogedUserID"];
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Update Subscription Detail
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-share-alt"></i> Update Subscription Detail
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Update Subscription Detail
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("UpdateSubscriptionDetail", "SubscriptionDetail", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-lg-12">
                                <form role="form">
                                    @if (Session["LogedUserID"] != null)
                                    {
                                        @Html.Hidden("UserId", sessionVar.ToString())
                                    }
                                    <div class="form-group">
                                        @Html.Label("Subscription Type", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("SubscriptionType", ViewBag.SubscriptionType as System.Web.Mvc.SelectList, "---Select---", new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("User Subscription", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("UserSubscription", ViewBag.UserSubscription as System.Web.Mvc.SelectList, "---Select---", new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Content Details", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("ContentDetails", ViewBag.ContentDetails as System.Web.Mvc.SelectList, "---Select---", new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Start Time", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBox("StartTime")
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("End Time", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBox("EndTime")
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-default">Update</button>
                                </form>
                            </div>
                        }
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

