﻿@model List<Education.Dtos.DashboardDto>
@{
    ViewBag.Title = "ShopingCart";
    var sessionVar = Session["LogedUserID"];
}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Dashboard</title>
</head>


<body>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header"><img src="~/Images/Cart.jpg" /> Your Cart</h2><br />
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" align="center">


                    @foreach (var m in Model)
                    {
                        if (m.SDto.Count == 0 && m.subDto.Count == 0 && m.chapDto.Count == 0)
                        {
                            <tr>
                                <td colspan="4"><h4>Your Cart is empty.....!</h4></td>
                            </tr>
                        }
                        else
                        {
                            <tr style="background-color: #AEAEAE;">
                                <th>Subscription Type</th>
                                <th>Details</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            int TotalPrize = 0;

                            foreach (var sem in m.SDto)
                            {
                                TotalPrize = TotalPrize + sem.Price;

                                <tr>
                                    <td><label id="lblSemester" title="Semester" style="color: #4B4B4B; font-weight: lighter">Semester</label></td>
                                    <td>@Html.Label(sem.SemesterTitle, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(sem.Price.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td><input type="image" onclick="location.href ='@Url.Action("DeleteSubcribtion", "ShoppingCart", new { id = sem.Id, contentId = sem.TempContentId })'; return false;" src="~/Content/cancel.png" /></td>
                                </tr>
                            }
                            foreach (var Sub in m.subDto)
                            {
                                TotalPrize = TotalPrize + Sub.Price;

                                <tr>
                                    <td><label id="lblSubject" title="Subject" style="color: #4B4B4B; font-weight: lighter">Subject</label></td>
                                    <td>@Html.Label(Sub.SubjectTitle, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Sub.Price.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td><input type="image" onclick="location.href ='@Url.Action("DeleteSubcribtion", "ShoppingCart", new { id = Sub.Id, contentId = Sub.TempContentId })'; return false;" src="~/Content/cancel.png" /></td>
                                </tr>

                            }
                            foreach (var Chap in m.chapDto)
                            {
                                TotalPrize = TotalPrize + Chap.Price;

                                <tr>
                                    <td><label id="lblChapter" title="Chapter" style="color: #4B4B4B; font-weight: lighter">Chapter</label></td>
                                    <td>@Html.Label(Chap.Title, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Chap.Price.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td><input type="image" onclick="location.href ='@Url.Action("DeleteSubcribtion", "ShoppingCart", new { id = Chap.Id, contentId = Chap.TempContentId })'; return false;" src="~/Content/cancel.png" /></td>
                                </tr>
                            }

                            <tr>
                                <td colspan="2"><label id="lblChapter" title="Chapter" style="color: #4B4B4B; font-weight: bold; float: right;">Total Amount</label></td>
                                <td colspan="1">@Html.Label(TotalPrize.ToString(), new { id = "totalprice", style = "color: #4B4B4B;  font-weight:lighter" })</td>
                            </tr>
                            @Html.Hidden("TotalPrice", TotalPrize.ToString())
                            ViewBag.TotalPrice = TotalPrize.ToString();
                            <tr>
                                <td colspan="5">
                                    <input type="submit" value="Pay By Net Banking" class="btn btn-primary" onclick="location.href = '@Url.Action("PaymentScreen", "PaymentScreen", new { totalprice = ViewBag.TotalPrice })'" />
                                    <input type="submit" value="Continue" class="btn btn-primary" onclick="location.href = '@Url.Action("Subscribe", "Subscribe")'" />
                                </td>

                            </tr>
                        }

                    }


                </table>



            </div>
        </div>
    </div>
</body>
</html>
