﻿@model Education.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<script src="jquery-1.7.1.min.js"></script>
<script src="script.js"></script>
<script src="jquery.validate.js"></script>
<style type="text/css">
    label.valid {
        width: 24px;
        height: 24px;
        background: url(../Images/valid.png) center center no-repeat;
        display: inline-block;
        text-indent: -9999px;
    }

    label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }
</style> 

<script>
    addEventListener('load', prettyPrint, false);
    $(document).ready(function () {
        $('pre').addClass('prettyprint linenums');
    });
</script> 
      <div class="container">
    <div class="row">



        <div class="col-md-4 col-md-offset-4" style="margin-top: 20%;">

            <div class="login-panel panel panel-default">
                <section id=" loginform">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "login-form", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel-heading">
                            <h2 class="panel-title">@ViewBag.Title</h2>
                        </div>


                        @*@Html.ValidationSummary(true)*@

                        <div class="panel-body">


                            <div class="editor-field">
                                @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "text-box single-line UpdatedFormControl", placeholder = "User Name" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <br />
                            <div class="editor-field">
                                @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "text-box single-line UpdatedFormControl", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <br />

                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>


                            <br />

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-large">Log in</button>

                            </div>


                            <p>
                                <br />
                                @Html.ActionLink("Register", "Register") if you don't have a local account.
                            </p>

                        </div>
                    }
                </section>
            </div>

          
        </div>



    </div>
</div>


   
    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
