﻿@model Education.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<script src="jquery-1.7.1.min.js"></script>
<script src="script.js"></script>
<script src="jquery.validate.js"></script>
<style type="text/css">
    label.valid {
        width: 24px;
        height: 24px;
        background: url(../Images/valid.png) center center no-repeat;
        display: inline-block;
        text-indent: -9999px;
    }

    label.error {
        font-weight: bold;
        color: red;
        padding: 2px 8px;
        margin-top: 2px;
    }
</style>

<script>
    addEventListener('load', prettyPrint, false);
    $(document).ready(function () {
        $('pre').addClass('prettyprint linenums');
    });
</script> 

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "registration-form", @class = "form-horizontal", role = "form" }))
                {
                    <div>
                        @Html.AntiForgeryToken()

                       <h2 class="panel-heading">@ViewBag.Title.</h2>
                        <h4>Create a new account.</h4>

                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @class = "text-box single-line UpdatedFormControl", placeholder = "UserName" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            
                        </div>

                        <br />

                        <div class="editor-field">
                           
                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "text-box single-line UpdatedFormControl", placeholder = "Email Id" })
                                @Html.ValidationMessageFor(m => m.EmailAddress)

                            
                        </div>
                        <br />
                        <div class="editor-field">
                            
                          
                                @Html.TextBoxFor(m => m.Address, new { @class = "text-box single-line UpdatedFormControl", placeholder = "Address" })
                                @Html.ValidationMessageFor(m => m.Address)

                           
                        </div><br />
                        <div class="editor-field">
                            
                         
                                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "text-box single-line UpdatedFormControl", placeholder = "Mobile Number" })
                                @Html.ValidationMessageFor(m => m.PhoneNo)

                           
                        </div><br />
                        <div class="editor-field">
                           
                           
                                @Html.PasswordFor(m => m.Password, new { @class = "text-box single-line UpdatedFormControl", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)

                            
                        </div><br />
                        <div class="editor-field">
                          
                            
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-box single-line UpdatedFormControl", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)

                            
                        </div><br />
                       
                        <input type="submit" class="btn btn-primary" value="Register" /><br />
                       
                        <br />

                    </div>


                }

                </div>
            </div>
        </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

            
