﻿
@{
    ViewBag.Title = "UpdateChapter";
}

<h2>UpdateChapter</h2>

@model Education.Dtos.ChapterDto
@{
    ViewBag.Title = "UpdateChapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Update Chapter
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-share-alt"></i> Update Chapter
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Update Chapter
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("UpdateChapter", "Chapter", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        @Html.Label("Chapter Title", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Subject", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("Subject", ViewBag.Subject as System.Web.Mvc.SelectList, "---Select---", new { @class = "col-md-4" })
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">Update</button>
                                </form>
                            </div>
                        }
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

