﻿@model IEnumerable<Education.Dtos.BranchDto>
@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Create Branch                    
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-share-alt"></i> Create Branch
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create Branch
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        @using (Html.BeginForm("Branch", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        @Html.Label("Branch Title", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">                                            
                                            @Html.TextBox("BranchTitle")
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">Save</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                            </div>
                         }
                            <div class="col-lg-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Branches
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Branch ID</th>
                                                            <th>Branch Title</th>
                                                            <th>Update</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var branch in Model)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(p => branch.Id)</td>
                                                                <td>@Html.DisplayFor(p => branch.BrachTitle)</td>
                                                                <td>@Html.ActionLink("Update", "UpdateBranch", new { id = @branch.Id })</td>
                                                                <td> @Html.ActionLink("Delete", "DeleteBranch", new { id = @branch.Id })</td>
                                                            </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </div>
                                        <!-- /.table-responsive -->
                                                        </div>
                                    <!-- /.panel-body -->
                                                        </div>
                                <!-- /.panel -->
                                                        </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

