﻿@model Education.Dtos.LectureDto
    ViewBag.Title = "Sample Video";
}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="widget-body">

                <center>
                    <h2>Sample Video</h2>
                    <p><p>

                        <video width="600" height="400" controls autoplay="autoplay">
                            <source src="@Url.Action("Index", "PlayVideo", new { VideoURL = ViewBag.URL })" type="video/mp4">
                        </video>

                </center>

            </div>
            <div class="col-lg-12">
                <h3 class="page-header">Lecture Content</h3>

   
                @Html.Raw(Model.LectureContent)
                
                
            </div>
        </div>
    </div>
</div>
@*@Html.Partial("Lecture")*@