﻿@model Education.Dtos.SubscriptionDetailDto
@{
    ViewBag.Title = "Subscribe Account";
    var sessionVar = Session["LogedUserID"];
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script type="text/javascript">



    $(function () {
        var value = '@ViewBag.IsValidate';
        $(document).ready(function () {
            var validate = false;

            if (value === "True")
            {
                $("#lblSemester").show();
                $("#Semester").show();
            }
            else
            {
                $("#lblSemester").hide();
                $("#Semester").hide();
            }

            $("#lblSubject").hide();
            $("#Subject").hide();
            $("#Subject1").hide();
            $("#lblChapter").hide();
            $("#Chapter").hide();
        });

        $("#Subscriptions").change(function () {
            value = "";
            $('#Semester').find('option:first').attr('selected', 'selected');
            $('#Subject').find('option:first').attr('selected', 'selected');
            $('#Chapter').find('option:first').attr('selected', 'selected');


            var selectedSubcrib = $("#Subscriptions option:selected").text();
            if (selectedSubcrib == "Semester") {
                $("#lblSemester").show();
                $("#Semester").show();
                $("#lblSubject").hide();
                $("#Subject").hide();
                $("#lblChapter").hide();
                $("#Chapter").hide();
                $("#Subject1").hide();
            }
            else
                if (selectedSubcrib == "Subject") {
                    $("#lblSemester").show();
                    $("#Semester").show();
                    $("#lblChapter").hide();
                    $("#Chapter").hide();
                    $("#lblSubject").show();
                    $("#Subject").hide();
                    $("#Subject1").show();

                    $('#Subject1').empty();
                    var option = $("<option />");
                    option.attr("value", '0').text('---Select---');
                    $('#Subject1').append(option);

                }

                else
                    if (selectedSubcrib == "Chapter") {
                        $("#lblSemester").show();
                        $("#Semester").show();
                        $("#lblChapter").show();
                        $("#Chapter").show();
                        $("#lblSubject").show();
                        $("#Subject1").hide();
                        $("#Subject").show();
                    }
        });

        //$("#Subscriptions").change(function () {

            //$('#Semester').find('option:first').attr('selected', 'selected');
            //$('#Subject').find('option:first').attr('selected', 'selected');
            //$('#Chapter').find('option:first').attr('selected', 'selected');

        //});

        $("#Semester").change(function () {

            value = "";
            var selectedItem = $(this).val();
            var ddlStates;
            var selectedSubcrib = $("#Subscriptions option:selected").text();
            if (selectedSubcrib == "Subject") {
                $("#lblSubject").show();
                $("#Subject1").show();
                ddlStates = $("#Subject1");
            }
            else if (selectedSubcrib == "Chapter") {
                $("#lblSubject").show();
                $("#Subject").show();
                ddlStates = $("#Subject");
            }
             var statesProgress = $("#states-loading-progress");
             statesProgress.show();
             $.ajax({
                 cache: false,
                 type: "GET",
                 url: '@(Url.Action("GetSubjectBySemesterId", "Subscribe"))',
                 
                 data: { "SemesterId": selectedItem },
                    success: function (data) {
                        ddlStates.html('');
                        ddlStates.append($('<option></option>').val("").html("---Select---"));
                        $.each(data, function (id, result) {
                            ddlStates.append($('<option></option>').val(result.id).html(result.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Subjects.');
                        statesProgress.hide();
                    }
                });
        });

        $("#Subject").change(function () {
            value = "";
            var selectedItem = $(this).val();
            var ddlStates = $("#Chapter");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",
                url: '@(Url.Action("GetChapterBySubjectId", "Subscribe"))',
                data: { "SubjectId": selectedItem },
                success: function (data) {
                    ddlStates.html('');
                    ddlStates.append($('<option></option>').val("").html("---Select---"));
                    $.each(data, function (id, result) {
                        ddlStates.append($('<option></option>').val(result.id).html(result.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Chapters.');
                    statesProgress.hide();
                }
            });
        });

        });
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        @using (Html.BeginForm("Subscribe", "Subscribe", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">@ViewBag.Title.</h2>
                </div>
            </div>

            @Html.ValidationSummary()

            <div class="form-group">
                @Html.Label("Subscription Type", new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @*@Html.DropDownList("Subscriptions", ViewBag.Subscriptions as SelectList, "---Select---", new { @class = "col-md-2" })*@
                    @Html.DropDownListFor(x => x.Subscriptions, ViewBag.Subscriptions as SelectList, "---Select---", new { @id = "Subscriptions", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Branch", new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.DropDownListFor(f => f.Branch, ViewBag.Branch as SelectList, "---Select---", new { @id = "Branch", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Year", new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.DropDownListFor(f => f.Year, ViewBag.Year as SelectList, "---Select---", new { @id = "Year", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label id="lblSemester" class="col-md-2 control-label">Semester</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(x => x.Semester, ViewBag.Semester as SelectList, "---Select---", new { @id = "Semester", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.Label("Subject", new { @class = "col-md-2 control-label" })*@
                <label id="lblSubject" class="col-md-2 control-label">Subject</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(x => x.Subject1, ViewBag.Subject as MultiSelectList, "---Select---", new { @id = "Subject1", multiple = "multiple", @class = "form-control" })
                    @Html.DropDownListFor(x => x.Subject, ViewBag.Subject as SelectList, "---Select---", new { @id = "Subject", @class = "form-control" })
                </div>


            </div>
            <div class="form-group">
                @*@Html.Label("Chapter", new { @class = "col-md-2 control-label" })*@
                <label id="lblChapter" class="col-md-2 control-label">Chapter</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.Chapter, ViewBag.Chapter as MultiSelectList, "---Select---", new { @id = "Chapter", multiple = "multiple", @class = "form-control" })
                </div>
            </div>



            if (Session["LogedUserID"] != null)
            {

                @Html.Hidden("UserId", sessionVar.ToString())

            }

            @*<div class="form-group">
                    @Html.LabelFor(m => m.ContentId, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ContentId, new { @class = "form-control" })
                        </div>
                </div>
                <div class="form-group">
                    @Html.Label("Start Date", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control" })
                        </div>
                </div>
                <div class="form-group">
                    @Html.Label("End Date", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control" })
                        </div>
                </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Subscribe" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
