﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Education</title>
    @Styles.Render("~/Education")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/sb-admin.css" rel="stylesheet">*@


    <!-- Custom Fonts -->
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Educational Portal", "Index", "Home", null, new { @class = "navbar-brand" })
                @Html.Partial("_LoginPartial")
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    @if (Session["LogedUserID"] != null)
                    {
                        <li>

                            <a href="~/Subscribe/Subscribe"><i class="fa fa-fw fa-dashboard"></i> Subscribe</a>                           

                        </li>
                        <li>

                            <a href="#"><i class="fa fa-fw fa-table"></i> Sample Video</a>
                        </li>

                        <li >

                            <a href="~/Dashboard/Dashboard"><i class="fa fa-fw fa-edit"></i> Dashboard</a>
                        </li>

                        <li>
                            <a href="~/ShoppingCart/ShopingCart"><i class="fa fa-fw fa-edit"></i> Shopping Cart</a>
                        </li>

                        <li>
                            <a href="~/ProfesserProfile/Profile"><i class="fa fa-fw fa-edit"></i> Professer Profile</a>
                        </li>
                    }
                </ul>

            </div>
        </nav>
        <div id="dashboard-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div >
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

