﻿@using Microsoft.AspNet.Identity

@if (Session["LogedUserFullname"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    @*<ul class="nav navbar-nav navbar-right">
        <li style="color: white; vertical-align:middle">Hello @Session["LogedUserFullname"].ToString()</li>
        <li>@Html.ActionLink("Sign Out", "Logout", "Sample")</li>
    </ul>*@
    
    <ul class="nav navbar-right top-nav" style="padding-left: 1600px;">
       
        <li class=" dropdown">
            
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Hello @Session["LogedUserFullname"].ToString() <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                @*<a href="~/Account/Login"><i class="fa fa-fw fa-power-off"></i> Log Out</a>*@
                @Html.ActionLink("Sign Out", "LogOff", "Account")
            </li>
        </ul>
        </li>
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="padding-left: 1600px;">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
