﻿
@*@{
    ViewBag.Title = "AddBranch";
}

<h2>AddBranch</h2>*@
@{
    ViewBag.Title = "AddBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create Branch
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-share-alt"></i> Create Branch
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create Branch
                </div>
                <div class="panel-body">
                    <div class="row">
                        @using (Html.BeginForm("AddBranch", "Branch", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        @Html.Label("Branch Title", new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBox("BranchTitle")
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">Save</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                            </div>
                        }
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>







