﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Biodata</title>
</head>
<body>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Professor Biodata</h2><br />
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="~/ProfessorProfile/Profile">Professor Details</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-share-alt"></i>Biodata
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @*Semesters*@
                    </div>
                    <div class="panel-body">
                      @Html.Raw(ViewBag.Details)
                    </div>
                    <div class="panel-footer"> 
                        <input type="button" class="btn btn-primary btn-large" value="Close" onclick="location.href='@Url.Action("RedirectToProfile", "ProfesserProfile")';" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
