﻿@model List<Education.Dtos.ProfessorDto>
@{
    ViewBag.Title = "Subscribe Account";
    var sessionVar = Session["LogedUserID"];
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Dashboard</title>
</head>


<body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript">

   
        $('btnShowDetails').click(function () {
            e.preventDefault();
            var biodata = $('#lblbiodata').val();
            $('#showData').html(biodata);
            $('#modal-container').modal('show');
        });


          
    </script>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="padding-top: 20px;">
                    <h2 class="page-header" align="center">Professor Details</h2><br />
                </div>
            </div>

            @*<table class="table table-bordered " align="center">
            <tr style="background-color: #AEAEAE; ">
                <th>Professor Name</th>
                <th>Details</th>
            </tr>*@
            <div class="row">
                <div class="col-lg-12" style="height: 1000px;">
                    @foreach (var m in Model)
                    {
                        var data = @m.Biodata;
                        <label id="lblbiodata" data="@data" style="display: none"></label>
                        ViewBag.Bio = data;
                        <div class="col-md-8" style="border-style: double; border-color: darkgrey; background-color: #EEEEEE; margin-left:264px; align-self:center;  align-content:center; align-items:center; ">
                            <div class="col-md-11" style="padding-top:10px;">
                                <div class="col-md-3">
                                    @Html.Label(m.ProfessorName, new { style = "color: #4B4B4B;  font-weight:lighter" }) <br />
                                    <img src="@m.ProfessorImg" alt="" />
                                </div>
                                <div class="col-md-9" style="text-align:justify">                                
                                    @m.DetailsDescription                                    
                                </div>
                            </div>
                            <div class="col-md-11" style="padding-bottom:10px;">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">                                   
                                    <br />
                                    <input type="button" class="btn btn-primary btn-large" value="Show More.." onclick="location.href='@Url.Action("Biodata","ProfesserProfile", new {id = m.id})';" />
                                    @*<a href="/ProfesserProfile/Biodata" class="btn btn-primary btn-large">Show More..</a>*@
                                     @*<a href="#" class="btn btn-primary btn-large" data-toggle="modal" data-target="#modal-container">Show More..</a>

                                    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

                                        <div class="modal-dialog">
                                            <div class="modal-content" style="width: 1006px; height: 845px; margin-left:-145px">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <div id="showData" style="overflow:scroll; width:980px; height:800px">
                                                        </div>
                                                       @Html.Raw(m.Biodata)
                                                  </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    </div>
                                </div>
                            </div>
                            
                       
                        @*<div class="col-md-6" style="height: 215px;"></div>*@
                        <div class="col-md-2" style="height: 216px;">

                        </div>
                       
                    }
                </div>
               
        
                @*</table>*@

            </div>

        </div>
</body>
</html>
