﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@model IEnumerable<Education.Dtos.SubjectDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create Subject
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="/Index">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-share-alt"></i> Create Subject
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Subjects
                </div>
                <div class="panel-body">
                    <h3> @Html.ActionLink("Add New Subject", "AddSubject")</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Subjects List
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Subject ID</th>
                                                    <th>Subject Title</th>
                                                    <th>Semester Title</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var subject in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(p => subject.Id)</td>
                                                        <td>@Html.DisplayFor(p => subject.SubjectTitle)</td>
                                                        <td>@Html.DisplayFor(p => subject.SemesterId)</td>
                                                        <td>@Html.ActionLink("Update", "UpdateSubject", new { id = @subject.Id })</td>
                                                        <td> @Html.ActionLink("Delete", "DeleteSubject", new { id = @subject.Id })</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>



