﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <video width="480" height="320" controls="controls" autoplay="autoplay">
        <source src="/api/videos/mp4/Nature" type="video/mp4">
    </video>
</body>
</html>
