﻿
.mapInfo {
    font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    font-size: 88%;
    line-height: 18px;
    color: #333;
    width: 200px;
}

    .mapInfo dd {
        margin-left: 80px;
    }

    .mapInfo dt {
        float: left;
        width: 70px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.processingMessageFolderPermissions {
    margin-top: -26px;
    margin-left: 230px;
}

.cursorDefault {
    cursor: default;
}

.cursorHand {
    cursor: pointer;
    cursor: hand;
}

body .form-listing .dl-horizontal dt {
    width: 240px;
    margin-bottom: 4px;
    min-height: 20px;
}

body .form-listing .dl-horizontal dd {
    margin-left: 245px;
    margin-bottom: 4px;
    min-height: 20px;
}



body .dashboard-home .dl-horizontal {
}

    body .dashboard-home .dl-horizontal dt {
        margin-left: -50px;
    }

    body .dashboard-home .dl-horizontal dd {
        margin-left: 115px;
    }


body .tenantstats .dl-horizontal {
}

    body .tenantstats .dl-horizontal dl {
        margin-bottom: 0px;
    }

    body .tenantstats .dl-horizontal dt {
        width: auto;
        margin: 0px;
        min-height: 0px;
    }

    body .tenantstats .dl-horizontal dd {
        text-align: right;
        margin-left: 0px;
        margin-bottom: 0px;
        min-height: 0px;
    }


body .modal-folderpermissions-addpermissions {
    width: 1080px;
    margin: -300px 0 0 -550px;
    top: 50%;
    left: 50%;
    /*margin: 0 0 0 -510px;*/
}

    body .modal-folderpermissions-addpermissions .modal-body {
        height: 450px;
        max-height: 450px;
    }

body .modal-folderpermissions-modifypermissions {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-folderpermissions-modifypermissions .modal-body {
        height: 220px;
        max-height: 220px;
    }

body .modal-EmailAddress-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-EmailAddress-Properties .dl-horizontal dt {
        width: 240px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-EmailAddress-Properties .dl-horizontal dd {
        margin-left: 245px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-ExchangeUsers-Properties {
    width: 1000px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -470px;
    top: 50%;
    left: 50%;
}

    body .modal-ExchangeUsers-Properties .modal-body {
        height: 520px;
        max-height: 520px;
    }

    body .modal-ExchangeUsers-Properties .dl-horizontal dt {
        width: 240px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-ExchangeUsers-Properties .dl-horizontal dd {
        margin-left: 245px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-MailboxPermissions-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-MailboxPermissions-Properties .modal-body {
        height: 340px;
        max-height: 340px;
    }

    body .modal-MailboxPermissions-Properties .dl-horizontal dt {
        width: 240px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-MailboxPermissions-Properties .dl-horizontal dd {
        margin-left: 245px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-MsOnlineUsers-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-MsOnlineUsers-Properties .modal-body {
        height: 340px;
        min-height: 340px;
        max-height: 340px;
    }

    body .modal-MsOnlineUsers-Properties .dl-horizontal dt {
        width: 220px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-MsOnlineUsers-Properties .dl-horizontal dd {
        margin-left: 225px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-MsOnlineUsers-Properties .dl-horizontal ul dt {
        margin-left: 50px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-MsOnlineUsers-Properties .dl-horizontal ul li {
        margin-left: 50px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-DeviceType-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-DeviceType-Properties .modal-body {
        height: 520px;
        min-height: 520px;
        max-height: 520px;
    }

    body .modal-DeviceType-Properties .dl-horizontal dt {
        width: 220px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-DeviceType-Properties .dl-horizontal dd {
        margin-left: 225px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-MailboxUsage-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-MailboxUsage-Properties .modal-body {
        height: 545px;
        max-height: 520px;
    }

    body .modal-MailboxUsage-Properties .dl-horizontal dt {
        width: 240px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-MailboxUsage-Properties .dl-horizontal dd {
        margin-left: 245px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-GroupDetails-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-GroupDetails-Properties .modal-body {
        height: 520px;
        max-height: 520px;
    }

    body .modal-GroupDetails-Properties .dl-horizontal dt {
        width: 340px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-GroupDetails-Properties .dl-horizontal dd {
        margin-left: 345px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-ArchiveAccount-Properties .dl-horizontal dt {
    width: 340px;
    margin-bottom: 4px;
    min-height: 20px;
}

body .modal-ArchiveAccount-Properties .dl-horizontal dd {
    margin-left: 345px;
    margin-bottom: 4px;
    min-height: 20px;
}

body .modal-ContactDetails-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-ContactDetails-Properties .modal-body {
        height: 520px;
        max-height: 520px;
    }

    body .modal-ContactDetails-Properties .dl-horizontal dt {
        width: 340px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-ContactDetails-Properties .dl-horizontal dd {
        margin-left: 345px;
        margin-bottom: 4px;
        min-height: 20px;
    }

/* Partner Billing Details header */
body .list-PartnerBillingDetails .list-title {
    font-weight: normal;
    color: #999999;
    text-align: right;
    width: 180px;
    margin-bottom: 4px;
    margin-right: 8px;
    min-height: 20px;
    float: left;
}

body .list-PartnerBillingDetails .list-detail {
    font-weight: bold;
    text-align: left;
    width: 180px;
    margin-bottom: 4px;
    min-height: 20px;
    float: left;
}

body .list-PartnerBillingDetails .dl-horizontal dt {
    width: 200px;
    margin-bottom: 2px;
    min-height: 15px;
}

body .list-PartnerBillingDetails .dl-horizontal dd {
    margin-left: 205px;
    margin-bottom: 2px;
    min-height: 15px;
}

body .modal-PartnerDetails-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-PartnerDetails-Properties .modal-body {
        height: 320px;
        max-height: 520px;
    }

    body .modal-PartnerDetails-Properties .dl-horizontal dt {
        width: 340px;
        margin-bottom: 4px;
        min-height: 20px;
    }

    body .modal-PartnerDetails-Properties .dl-horizontal dd {
        margin-left: 345px;
        margin-bottom: 4px;
        min-height: 20px;
    }

body .modal-BillingDetails-Properties .modal-dialog {
    width: 50%;
}

body .modal-BillingDetails-Properties .modal-body {
    height: 500px;
    overflow: auto;
}

body .list-BillingDetails {
}

    body .list-BillingDetails .dl-horizontal dt {
        margin-bottom: 2px;
        min-height: 20px;
    }

    body .list-BillingDetails .dl-horizontal dd {
        margin-bottom: 2px;
        min-height: 20px;
    }

body .modal-Invoice-Properties {
    width: 720px;
}

    body .modal-Invoice-Properties .dl-horizontal dt {
        margin-bottom: 2px;
        min-height: 15px;
        vertical-align: bottom;
    }

    body .modal-Invoice-Properties .dl-horizontal dd {
        margin-bottom: 2px;
        min-height: 15px;
        vertical-align: bottom;
    }

body .modal-DeliverySchedule-Properties {
    width: 720px;
}

    body .modal-DeliverySchedule-Properties .dl-horizontal dt {
        margin-bottom: 2px;
        min-height: 15px;
        vertical-align: bottom;
    }

    body .modal-DeliverySchedule-Properties .dl-horizontal dd {
        margin-bottom: 2px;
        min-height: 15px;
        vertical-align: bottom;
    }

body .modal-invalid-account {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -250px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-invalid-account .modal-body {
        height: 100px;
        max-height: 100px;
    }

body .modal-EmailAddress-PickList .modal-dialog {
    width: 40%;
}

body .modal-EmailAddress-PickList .modal-body {
    height: 500px;
    overflow: auto;
}

body .modal-CommandUser-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -270px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-CommandUser-Properties .modal-body {
        height: 520px;
        max-height: 520px;
    }

body .modal-CommandUser-DeleteCommandUser {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -230px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-CommandUser-DeleteCommandUser .modal-body {
        height: 160px;
        max-height: 160px;
    }

body .modal-CommandUser-ModifyBilling {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -230px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-CommandUser-ModifyBilling .modal-body {
        height: 160px;
        max-height: 160px;
    }

body .modal-CommandUser-ResetPassword {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -230px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-CommandUser-ResetPassword .modal-body {
        height: 180px;
        max-height: 180px;
    }

body .modal-CommandRole-Properties {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-CommandRole-Properties .modal-body {
        height: 460px;
        max-height: 460px;
    }

body .modal-CommandRoleUsers-Properties {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-CommandRoleUsers-Properties .modal-body {
        height: 460px;
        max-height: 460px;
    }

body .modal-PartnerManagement-AddPartner {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -230px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-PartnerManagement-AddPartner .modal-body {
        height: 240px;
        max-height: 240px;
    }

body .modal-Tenant-ActivePartner {
    width: 600px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-Tenant-ActivePartner .modal-body {
        height: 360px;
        max-height: 360px;
    }

body .modal-tenant-modifytrialdate {
    width: 700px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -230px 0 0 -270px;
    top: 50%;
    left: 50%;
}

    body .modal-tenant-modifytrialdate .modal-body {
        height: 240px;
        max-height: 240px;
    }

body .modal-UserMessages {
    width: 800px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -330px 0 0 -370px;
    top: 50%;
    left: 50%;
}

    body .modal-UserMessages .modal-body {
        height: 420px;
        max-height: 420px;
    }

body .modal-UserMessagesMedium {
    width: 370px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -100px 0 0 -185px;
    top: 50%;
    left: 50%;
}

    body .modal-UserMessagesMedium .modal-body {
        height: 70px;
        max-height: 70px;
    }

body .modal-UserMessagesSmall {
    width: 300px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -80px 0 0 -120px;
    top: 50%;
    left: 50%;
}

    body .modal-UserMessagesSmall .modal-body {
        height: 50px;
        max-height: 50px;
    }

.reportDownloadType {
    font-size: 78%;
}

.reportSchedule {
    font-size: 50%;
}

.terms_box {
    width: 560px;
    height: 505px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

    .terms_box .top_b {
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        font: 100 18px/42px 'PT Sans', sans-serif;
        height: 42px;
        padding: 0 20px;
        background: #e0e0e0;
        border-bottom: 1px solid #ccc;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-radius: 6px 6px 0px 0px;
        border-radius: 6px 6px 0px 0px;
        font-size: 15px;
    }

    .terms_box .btm_b {
        height: 45px;
    }

.terms_text {
    overflow: auto;
    width: 550px;
    height: 380px;
    margin: 5px 0px 5px 5px;
}

.terms_text {
    overflow: auto;
    width: 550px;
    height: 380px;
    margin: 5px 0px 5px 5px;
}

.content .terms_text {
    background-color: white;
    overflow: auto;
    width: 750px;
    height: 290px;
    margin: 5px 0px 15px 35px;
    padding: 5px 0px 15px 35px;
}


.betaMenuOption a {
    float: left;
}

.betaMenuOption img {
    clear: both;
    padding-left: 10px;
    margin-bottom: -11px;
}



.nav-list .beta a:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 41px;
    height: 17px;
    background: transparent url('/content/img/beta-tag-small.png') no-repeat;
    margin-left: 8px;
    margin-top: 3px;
}

.betaBar {
    float: left;
    margin-left: 10px;
    margin-top: 26px;
}

/* Registration page styles  */

.registerContainer .main_content {
}

.swMain {
}




.strong {
    font-weight: bold;
}

.archiveSignup {
    padding-left: 30px;
}


    .archiveSignup .archiveselector {
        padding-bottom: 10px;
    }



.archiveRegisterWizard .hormenu li a span.h2 {
    width: 24px;
    font-size: 19px;
    padding: 8px;
    color: #999;
    border: 3px solid white;
    display: block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    text-align: center;
}

.archiveRegisterWizard .hormenu li a.disabled span.h2 {
    color: #0866c6;
    border: 2px solid #0866c6;
}

.archiveRegisterWizard .hormenu li span.label {
    display: block;
    color: #999;
    background: none;
    text-shadow: none;
    padding: 15px 5px 0px 50px;
    font-size: 12px;
}

.archiveRegisterWizard .hormenu li a span.dot span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(/content/img/steps.png) no-repeat 0 -40px;
}

.archiveRegisterWizard .hormenu li:first-child a span.dot {
    margin-left: 47%;
    text-align: left;
}

.archiveRegisterWizard .hormenu li:last-child a span.dot {
    margin-right: 47%;
    text-align: right;
}

.archiveRegisterWizard .hormenu li a.done {
    background: #0866c6;
    border-right: 1px solid rgba(255,255,255,0.2);
    opacity: 0.6;
}

.archiveRegisterWizard .hormenu li a.error {
    background: green !important;
    border-right: 1px solid rgba(255,255,255,0.2);
}

.archiveRegisterWizard .hormenu li a.done span.label {
    color: #fff;
}

.archiveRegisterWizard .hormenu li a.done span.h2 {
    color: #fff;
    opacity: 0.6;
}

.archiveRegisterWizard .hormenu li a.done span.dot span {
    background-position: 0 -20px;
}

.archiveRegisterWizard .hormenu li:first-child a.done span.dot span {
    background-position: 0 0;
}

.archiveRegisterWizard .hormenu li a.selected {
    background: #0866c6;
}

    .archiveRegisterWizard .hormenu li a.selected span.h2 {
        font-size: 19px;
        color: #fff;
    }

    .archiveRegisterWizard .hormenu li a.selected span.dot span {
        background-position: 0 -120px;
    }

.archiveRegisterWizard .hormenu li:first-child a.selected span.dot span {
    background-position: 0 -100px;
}

.archiveRegisterWizard .hormenu li a.selected span.label {
    color: #fff;
}

.archiveRegisterWizard .stepContainer {
    width: auto !important;
    border: 2px solid #0866c6;
    border-bottom: 0;
    min-height: 450px !important;
}

    .archiveRegisterWizard .stepContainer .stepTitle {
        background: #0866c6;
        color: #fff;
        padding: 12px 15px;
        font-size: 14px;
    }

    .archiveRegisterWizard .stepContainer p {
        margin: 10px 0;
    }

    .archiveRegisterWizard .stepContainer .par p {
        margin: 10px 0;
        line-height: 21px;
    }

        .archiveRegisterWizard .stepContainer .par p:last-child {
            border-bottom: 0;
        }

.actionBar {
    padding: 15px;
    position: relative;
    overflow: hidden;
    clear: both;
    border: 2px solid #0866c6;
    border-top: 1px solid #0866c6;
    background: #fff;
}

    .actionBar .loader {
        float: left;
        display: none;
    }

    .actionBar a {
        float: right;
        display: inline-block;
        padding: 5px 15px;
        background: #fff;
        color: #0866c6;
        width: 50px;
        text-align: center;
        margin-left: 5px;
        border: 2px solid #0866c6;
    }

        .actionBar a:hover {
            text-decoration: none;
            background: #0866c6;
            color: #fff;
        }

        .actionBar a.buttonDisabled {
            background: #fff;
            border: 2px solid #0866c6;
            color: #0866c6;
            opacity: 0.5;
        }

            .actionBar a.buttonDisabled:hover {
                cursor: default;
            }

            .actionBar a.buttonDisabled:active {
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

    .actionBar .msgBox {
        margin: 40px 0 10px 0;
        position: relative;
        display: none;
    }

        .actionBar .msgBox .content {
            padding: 7px 10px;
            background: #fffccc;
            color: #333;
            border: 1px solid #FEEA7A;
        }

        .actionBar .msgBox .close {
            padding: 0 2px 2px 2px;
            background: none;
            line-height: 10px;
            text-transform: lowercase;
            font-size: 10px;
            position: absolute;
            top: 5px;
            right: 7px;
            color: #333;
            text-shadow: none;
            font-weight: bold;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-radius: 1px;
        }

            .actionBar .msgBox .close:hover {
                background: #333;
                color: #eee;
            }


/*** MAILBOX DETAILS GRAPH STYLES*/

.mailboxDetailsGraphContainerContent {
    width: 880px;
    padding: 10px;
}

.mailboxDetailsGraphContainer {
    width: 850px;
    height: 550px;
}

.mailboxDetailsGraphContainerPlaceholder {
    position: relative;
    width: 850px;
    height: 450px;
    font-size: 12px;
    line-height: 27px;
}

/*** BUTTONS & ICONS ***/

[class^="iconsweets-"], [class*=" iconsweets-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url(/content/img/iconsweets-icons.png);
    background-position: -16px -16px;
    background-repeat: no-repeat;
}

/* White icons with optional class or on hover/active states of certain elements */
.iconsweets-white,
.nav-pills > .active > a > [class^="iconsweets-"],
.nav-pills > .active > a > [class*=" iconsweets-"],
.nav-list > .active > a > [class^="iconsweets-"],
.nav-list > .active > a > [class*=" iconsweets-"],
.navbar-inverse .nav > .active > a > [class^="iconsweets-"],
.navbar-inverse .nav > .active > a > [class*=" iconsweets-"],
.dropdown-menu > li > a:hover > [class^="iconsweets-"],
.dropdown-menu > li > a:hover > [class*=" iconsweets-"],
.dropdown-menu > .active > a > [class^="iconsweets-"],
.dropdown-menu > .active > a > [class*=" iconsweets-"],
.dropdown-submenu:hover > a > [class^="iconsweets-"],
.dropdown-submenu:hover > a > [class*=" iconsweets-"] {
    background-image: url(/content/img/iconsweets-icons-white.png);
}

.icon-plus {
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: transparent url('/content/img/details_open.png') no-repeat;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 2px;
}

.icon-minus {
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background: transparent url('/content/img/details_close.png') no-repeat;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 2px;
}


.iconsweets-magnifying-glass {
    background-position: -16px -16px;
}

.iconsweets-trashcan {
    background-position: -48px -16px;
}

.iconsweets--trashcan2 {
    background-position: -80px -16px;
}

.iconsweets-presentation {
    background-position: -112px -16px;
}

.iconsweets-download {
    background-position: -144px -16px;
}

.iconsweets-download2 {
    background-position: -176px -16px;
}

.iconsweets-upload {
    background-position: -208px -16px;
}

.iconsweets-flag {
    background-position: -240px -16px;
}

.iconsweets-flag2 {
    background-position: -272px -16px;
}

.iconsweets-finish-flag {
    background-position: -304px -16px;
}

.iconsweets-podium {
    background-position: -16px -48px;
}

.iconsweets-cup {
    background-position: -48px -48px;
}

.iconsweets-home {
    background-position: -80px -48px;
}

.iconsweets-home2 {
    background-position: -112px -48px;
}

.iconsweets-link {
    background-position: -144px -48px;
}

.iconsweets-link2 {
    background-position: -176px -48px;
}

.iconsweets-notebook {
    background-position: -208px -48px;
}

.iconsweets-book {
    background-position: -240px -48px;
}

.iconsweets-book-large {
    background-position: -272px -48px;
}

.iconsweets-books {
    background-position: -304px -48px;
}

.iconsweets-tree {
    background-position: -16px -80px;
}

.iconsweets-construction {
    background-position: -48px -80px;
}

.iconsweets-umbrella {
    background-position: -80px -80px;
}

.iconsweets-mail {
    background-position: -112px -80px;
}

.iconsweets-help {
    background-position: -144px -80px;
}

.iconsweets-rss {
    background-position: -176px -80px;
}

.iconsweets-strategy {
    background-position: -208px -80px;
}

.iconsweets-strategy2 {
    background-position: -240px -80px;
}

.iconsweets-apartment {
    background-position: -272px -80px;
}

.iconsweets-companies {
    background-position: -304px -80px;
}

.iconsweets-ghost {
    background-position: -16px -112px;
}

.iconsweets-pacman {
    background-position: -48px -112px;
}

.iconsweets-vault {
    background-position: -80px -112px;
}

.iconsweets-archive {
    background-position: -112px -112px;
}

.iconsweets-cabinet {
    background-position: -144px -112px;
}

.iconsweets-bandaid {
    background-position: -176px -112px;
}

.iconsweets-postcard {
    background-position: -208px -112px;
}

.iconsweets-alert {
    background-position: -240px -112px;
}

.iconsweets-alert2 {
    background-position: -272px -112px;
}

.iconsweets-alarm {
    background-position: -304px -112px;
}

.iconsweets-alarm2 {
    background-position: -16px -144px;
}

.iconsweets-robot {
    background-position: -48px -144px;
}

.iconsweets-globe {
    background-position: -80px -144px;
}

.iconsweets-globe2 {
    background-position: -112px -144px;
}

.iconsweets-chemical {
    background-position: -144px -144px;
}

.iconsweets-lightbulb {
    background-position: -176px -144px;
}

.iconsweets-cloud {
    background-position: -208px -144px;
}

.iconsweets-cloud-upload {
    background-position: -240px -144px;
}

.iconsweets-cloud-download {
    background-position: -272px -144px;
}

.iconsweets-lamp {
    background-position: -304px -144px;
}

.iconsweets-preview {
    background-position: -16px -176px;
}

.iconsweets-icecream {
    background-position: -48px -176px;
}

.iconsweets-icecream2 {
    background-position: -80px -176px;
}

.iconsweets-paperclip {
    background-position: -112px -176px;
}

.iconsweets-footprints {
    background-position: -144px -176px;
}

.iconsweets-firefox {
    background-position: -176px -176px;
}

.iconsweets-chrome {
    background-position: -208px -176px;
}

.iconsweets-safari {
    background-position: -240px -176px;
}

.iconsweets-loadingbar {
    background-position: -272px -176px;
}

.iconsweets-bullseye {
    background-position: -304px -176px;
}

.iconsweets-folder {
    background-position: -16px -208px;
}

.iconsweets-locked {
    background-position: -48px -208px;
}

.iconsweets-locked2 {
    background-position: -80px -208px;
}

.iconsweets-unlock {
    background-position: -112px -208px;
}

.iconsweets-tag {
    background-position: -144px -208px;
}

.iconsweets-tag2 {
    background-position: -176px -208px;
}

.iconsweets-mac {
    background-position: -208px -208px;
}

.iconsweets-windows {
    background-position: -240px -208px;
}

.iconsweets-linux {
    background-position: -272px -208px;
}

.iconsweets-create {
    background-position: -304px -208px;
}

.iconsweets-expose {
    background-position: -16px -240px;
}

.iconsweets-key {
    background-position: -48px -240px;
}

.iconsweets-key2 {
    background-position: -80px -240px;
}

.iconsweets-table {
    background-position: -112px -240px;
}

.iconsweets-chair {
    background-position: -144px -240px;
}

.iconsweets-denied {
    background-position: -176px -240px;
}

.iconsweets-ballons {
    background-position: -208px -240px;
}

.iconsweets-cat {
    background-position: -240px -240px;
}

.iconsweets-airplane {
    background-position: -272px -240px;
}

.iconsweets-track {
    background-position: -304px -240px;
}

.iconsweets-car {
    background-position: -16px -272px;
}

.iconsweets-info {
    background-position: -48px -272px;
}

.iconsweets-alarmclock {
    background-position: -80px -272px;
}

.iconsweets-stopwatch {
    background-position: -112px -272px;
}

.iconsweets-timer {
    background-position: -144px -272px;
}

.iconsweets-clock {
    background-position: -176px -272px;
}

.iconsweets-day {
    background-position: -208px -272px;
}

.iconsweets-month {
    background-position: -240px -272px;
}

.iconsweets-dress {
    background-position: -272px -272px;
}

.iconsweets-tshirt {
    background-position: -304px -272px;
}

.iconsweets-sportshirt {
    background-position: -16px -304px;
}

.iconsweets-sweater {
    background-position: -48px -304px;
}

.iconsweets-sleeveless {
    background-position: -80px -304px;
}

.iconsweets-pants {
    background-position: -112px -304px;
}

.iconsweets-socks {
    background-position: -144px -304px;
}

.iconsweets-trolly {
    background-position: -176px -304px;
}

.iconsweets-medical {
    background-position: -208px -304px;
}

.iconsweets-suitcase {
    background-position: -240px -304px;
}

.iconsweets-suitcase2 {
    background-position: -272px -304px;
}

.iconsweets-suitcase3 {
    background-position: -304px -304px;
}

.iconsweets-shoppingbag {
    background-position: -16px -336px;
}

.iconsweets-purse {
    background-position: -48px -336px;
}

.iconsweets-bag {
    background-position: -80px -336px;
}

.iconsweets-paypal {
    background-position: -112px -336px;
}

.iconsweets-paypal2 {
    background-position: -144px -336px;
}

.iconsweets-paypal3 {
    background-position: -176px -336px;
}

.iconsweets-money {
    background-position: -208px -336px;
}

.iconsweets-money2 {
    background-position: -240px -336px;
}

.iconsweets-pricetag {
    background-position: -272px -336px;
}

.iconsweets-pricetags {
    background-position: -304px -336px;
}

.iconsweets-piggybank {
    background-position: -16px -368px;
}

.iconsweets-lemonade {
    background-position: -48px -368px;
}

.iconsweets-basket {
    background-position: -80px -368px;
}

.iconsweets-basket2 {
    background-position: -112px -368px;
}

.iconsweets-scan {
    background-position: -144px -368px;
}

.iconsweets-cart {
    background-position: -176px -368px;
}

.iconsweets-cart2 {
    background-position: -208px -368px;
}

.iconsweets-cart3 {
    background-position: -240px -368px;
}

.iconsweets-cart4 {
    background-position: -272px -368px;
}

.iconsweets-digg {
    background-position: -304px -368px;
}

.iconsweets-digg2 {
    background-position: -16px -400px;
}

.iconsweets-buzz {
    background-position: -48px -400px;
}

.iconsweets-delicious {
    background-position: -80px -400px;
}

.iconsweets-twitter {
    background-position: -112px -400px;
}

.iconsweets-twitter2 {
    background-position: -144px -400px;
}

.iconsweets-tumblr {
    background-position: -176px -400px;
}

.iconsweets-plixi {
    background-position: -208px -400px;
}

.iconsweets-dribbble {
    background-position: -240px -400px;
}

.iconsweets-dribbble2 {
    background-position: -272px -400px;
}

.iconsweets-stumbleupon {
    background-position: -304px -400px;
}

.iconsweets-lastfm {
    background-position: -16px -432px;
}

.iconsweets-mobypicture {
    background-position: -48px -432px;
}

.iconsweets-youtube {
    background-position: -80px -432px;
}

.iconsweets-youtube2 {
    background-position: -112px -432px;
}

.iconsweets-vimeo {
    background-position: -144px -432px;
}

.iconsweets-vimeo2 {
    background-position: -176px -432px;
}

.iconsweets-skype {
    background-position: -208px -432px;
}

.iconsweets-facebook {
    background-position: -240px -432px;
}

.iconsweets-like {
    background-position: -272px -432px;
}

.iconsweets-ichat {
    background-position: -304px -432px;
}

.iconsweets-myspace {
    background-position: -16px -464px;
}

.iconsweets-dropbox {
    background-position: -48px -464px;
}

.iconsweets-walking {
    background-position: -80px -464px;
}

.iconsweets-running {
    background-position: -112px -464px;
}

.iconsweets-exit {
    background-position: -144px -464px;
}

.iconsweets-male {
    background-position: -176px -464px;
}

.iconsweets-female {
    background-position: -208px -464px;
}

.iconsweets-user {
    background-position: -240px -464px;
}

.iconsweets-users {
    background-position: -272px -464px;
}

.iconsweets-admin {
    background-position: -304px -464px;
}

.iconsweets-malesymbol {
    background-position: -16px -496px;
}

.iconsweets-femalesymbol {
    background-position: -48px -496px;
}

.iconsweets-user2 {
    background-position: -80px -496px;
}

.iconsweets-users2 {
    background-position: -112px -496px;
}

.iconsweets-admin2 {
    background-position: -144px -496px;
}

.iconsweets-usercomment {
    background-position: -176px -496px;
}

.iconsweets-cog {
    background-position: -208px -496px;
}

.iconsweets-cog2 {
    background-position: -240px -496px;
}

.iconsweets-cog3 {
    background-position: -272px -496px;
}

.iconsweets-cog4 {
    background-position: -304px -496px;
}

.iconsweets-settings {
    background-position: -16px -528px;
}

.iconsweets-settings2 {
    background-position: -48px -528px;
}

.iconsweets-hd {
    background-position: -80px -528px;
}

.iconsweets-hd2 {
    background-position: -112px -528px;
}

.iconsweets-hd3 {
    background-position: -144px -528px;
}

.iconsweets-sd {
    background-position: -176px -528px;
}

.iconsweets-sd2 {
    background-position: -208px -528px;
}

.iconsweets-sd3 {
    background-position: -240px -528px;
}

.iconsweets-dvd {
    background-position: -272px -528px;
}

.iconsweets-blueray {
    background-position: -304px -528px;
}

.iconsweets-record {
    background-position: -16px -560px;
}

.iconsweets-cd {
    background-position: -48px -560px;
}

.iconsweets-cassette {
    background-position: -80px -560px;
}

.iconsweets-image {
    background-position: -112px -560px;
}

.iconsweets-image2 {
    background-position: -144px -560px;
}

.iconsweets-image3 {
    background-position: -176px -560px;
}

.iconsweets-image4 {
    background-position: -208px -560px;
}

.iconsweets-sound {
    background-position: -240px -560px;
}

.iconsweets-megaphone {
    background-position: -272px -560px;
}

.iconsweets-film {
    background-position: -304px -560px;
}

.iconsweets-film2 {
    background-position: -16px -592px;
}

.iconsweets-headphone {
    background-position: -48px -592px;
}

.iconsweets-microphone {
    background-position: -80px -592px;
}

.iconsweets-printer {
    background-position: -112px -592px;
}

.iconsweets-radio {
    background-position: -144px -592px;
}

.iconsweets-television {
    background-position: -176px -592px;
}

.iconsweets-imac {
    background-position: -208px -592px;
}

.iconsweets-laptop {
    background-position: -240px -592px;
}

.iconsweets-mightymouse {
    background-position: -272px -592px;
}

.iconsweets-magicmouse {
    background-position: -304px -592px;
}

.iconsweets-mousewire {
    background-position: -16px -624px;
}

.iconsweets-camera {
    background-position: -48px -624px;
}

.iconsweets-camera2 {
    background-position: -80px -624px;
}

.iconsweets-monitor {
    background-position: -112px -624px;
}

.iconsweets-ipod {
    background-position: -144px -624px;
}

.iconsweets-ipodnano {
    background-position: -176px -624px;
}

.iconsweets-ipad {
    background-position: -208px -624px;
}

.iconsweets-filmcamera {
    background-position: -240px -624px;
}

.iconsweets-calculator {
    background-position: -272px -624px;
}

.iconsweets-cashregister {
    background-position: -304px -624px;
}

.iconsweets-fax {
    background-position: -16px -656px;
}

.iconsweets-frames {
    background-position: -48px -656px;
}

.iconsweets-coverflow {
    background-position: -80px -656px;
}

.iconsweets-list {
    background-position: -112px -656px;
}

.iconsweets-list2 {
    background-position: -144px -656px;
}

.iconsweets-list3 {
    background-position: -176px -656px;
}

.iconsweets-list4 {
    background-position: -208px -656px;
}

.iconsweets-wordpress {
    background-position: -240px -656px;
}

.iconsweets-wordpress2 {
    background-position: -272px -656px;
}

.iconsweets-joomla {
    background-position: -304px -656px;
}

.iconsweets-expressionengine {
    background-position: -16px -688px;
}

.iconsweets-drupal {
    background-position: -48px -688px;
}

.iconsweets-arrowright {
    background-position: -80px -688px;
}

.iconsweets-arrowleft {
    background-position: -112px -688px;
}

.iconsweets-arrowdown {
    background-position: -144px -688px;
}

.iconsweets-arrowup {
    background-position: -176px -688px;
}

.iconsweets-refresh {
    background-position: -208px -688px;
}

.iconsweets-refresh2 {
    background-position: -240px -688px;
}

.iconsweets-repeat {
    background-position: -272px -688px;
}

.iconsweets-shuffle {
    background-position: -304px -688px;
}

.iconsweets-refresh3 {
    background-position: -16px -720px;
}

.iconsweets-refresh4 {
    background-position: -48px -720px;
}

.iconsweets-recycle {
    background-position: -80px -720px;
}

.iconsweets-fullscreen {
    background-position: -112px -720px;
}

.iconsweets-fitscreen {
    background-position: -144px -720px;
}

.iconsweets-origscreen {
    background-position: -176px -720px;
}

.iconsweets-bluetooth {
    background-position: -208px -720px;
}

.iconsweets-bluetooth2 {
    background-position: -240px -720px;
}

.iconsweets-wifi {
    background-position: -272px -720px;
}

.iconsweets-wifi2 {
    background-position: -304px -720px;
}

.iconsweets-iphone3 {
    background-position: -16px -752px;
}

.iconsweets-iphone4 {
    background-position: -48px -752px;
}

.iconsweets-blackberry {
    background-position: -80px -752px;
}

.iconsweets-android {
    background-position: -112px -752px;
}

.iconsweets-mobile {
    background-position: -144px -752px;
}

.iconsweets-inbox {
    background-position: -176px -752px;
}

.iconsweets-outgoing {
    background-position: -208px -752px;
}

.iconsweets-incoming {
    background-position: -240px -752px;
}

.iconsweets-speech {
    background-position: -272px -752px;
}

.iconsweets-speech2 {
    background-position: -304px -752px;
}

.iconsweets-speech3 {
    background-position: -16px -784px;
}

.iconsweets-speech4 {
    background-position: -48px -784px;
}

.iconsweets-phone {
    background-position: -80px -784px;
}

.iconsweets-phone2 {
    background-position: -112px -784px;
}

.iconsweets-battery {
    background-position: -144px -784px;
}

.iconsweets-battery2 {
    background-position: -176px -784px;
}

.iconsweets-battery3 {
    background-position: -208px -784px;
}

.iconsweets-battery4 {
    background-position: -240px -784px;
}

.iconsweets-batteryfull {
    background-position: -272px -784px;
}

.iconsweets-power {
    background-position: -304px -784px;
}

.iconsweets-electric {
    background-position: -16px -816px;
}

.iconsweets-plug {
    background-position: -48px -816px;
}

.iconsweets-brush {
    background-position: -80px -816px;
}

.iconsweets-brush2 {
    background-position: -112px -816px;
}

.iconsweets-pen {
    background-position: -144px -816px;
}

.iconsweets-bigbrush {
    background-position: -176px -816px;
}

.iconsweets-pencil {
    background-position: -208px -816px;
}

.iconsweets-clipboard {
    background-position: -240px -816px;
}

.iconsweets-scissor {
    background-position: -272px -816px;
}

.iconsweets-eyedrop {
    background-position: -304px -816px;
}

.iconsweets-abacus {
    background-position: -16px -848px;
}

.iconsweets-ruler {
    background-position: -48px -848px;
}

.iconsweets-ruler2 {
    background-position: -80px -848px;
}

.iconsweets-map {
    background-position: -112px -848px;
}

.iconsweets-maps {
    background-position: -144px -848px;
}

.iconsweets-post {
    background-position: -176px -848px;
}

.iconsweets-marker {
    background-position: -208px -848px;
}

.iconsweets-document {
    background-position: -240px -848px;
}

.iconsweets-documents {
    background-position: -272px -848px;
}

.iconsweets-pdf {
    background-position: -304px -848px;
}

.iconsweets-pdf2 {
    background-position: -16px -880px;
}

.iconsweets-word {
    background-position: -48px -880px;
}

.iconsweets-word2 {
    background-position: -80px -880px;
}

.iconsweets-word3 {
    background-position: -112px -880px;
}

.iconsweets-zip {
    background-position: -144px -880px;
}

.iconsweets-zip2 {
    background-position: -176px -880px;
}

.iconsweets-ppt {
    background-position: -208px -880px;
}

.iconsweets-ppt2 {
    background-position: -240px -880px;
}

.iconsweets-excel {
    background-position: -272px -880px;
}

.iconsweets-excel2 {
    background-position: -304px -880px;
}

.iconsweets-vcard {
    background-position: -16px -912px;
}

.iconsweets-vcard2 {
    background-position: -48px -912px;
}

.iconsweets-address {
    background-position: -80px -912px;
}

.iconsweets-chart {
    background-position: -112px -912px;
}

.iconsweets-chart2 {
    background-position: -144px -912px;
}

.iconsweets-chart3 {
    background-position: -176px -912px;
}

.iconsweets-chart4 {
    background-position: -208px -912px;
}

.iconsweets-chart5 {
    background-position: -240px -912px;
}

.iconsweets-chart6 {
    background-position: -272px -912px;
}

.iconsweets-chart7 {
    background-position: -304px -912px;
}

.iconsweets-chart8 {
    background-position: -16px -944px;
}

.glyphicons {
    list-style: none;
}

    .glyphicons li {
        float: left;
        line-height: 25px;
        width: 25%;
    }

.fontawesomeicons ul {
    list-style: none;
}

    .fontawesomeicons ul li {
        line-height: 25px;
    }

.iconsweetslist {
    list-style: none;
}

    .iconsweetslist li {
        float: left;
        line-height: 26px;
        width: 25%;
    }

.GroupMemberUser {
    background-image: url('/content/img/User.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    vertical-align: text-top;
    width: 16px;
}

.GroupMemberContact {
    background-image: url('/content/img/contact.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    vertical-align: text-top;
    width: 16px;
}

.GroupMemberGroup {
    background-image: url('/content/img/Group.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    vertical-align: text-top;
    width: 16px;
}

.setnewcolor {
    color: #3993BA;
}

.span01 {
    width: 270px;
}

.span0 {
    width: 65px;
}

.span02 {
    width: 40px;
}

.margin {
    margin-left: 140px;
}

.margin1 {
    margin-left: -35px;
}

.margin2 {
    margin-left: 180px;
}

.margin3 {
    margin-left: -57px;
}

.margin4 {
    margin-left: 350px;
}

.margin5 {
    margin-left: -73px;
}

.EmailTo {
    height: 60px;
}

.Emailmessage {
    height: 100px;
}

.input-xwidth {
    width: 280px;
}

.input-xwidth1 {
    width: 110px;
}

.input-xwidth2 {
    width: 170px;
}

.input-xwidth3 {
    width: 350px;
}

.mailboxtemplatef_req_middle {
    position: absolute;
    margin-top: 8px;
}

.mailboxtemplate_fontsize {
    font-size: 11.5px;
}

.width50percent {
    width: 50%;
}


.labelinline label {
    display: inline;
    margin-left: 5px;
    padding-top: 1px;
}


.divstyle {
    overflow-x: auto;
    WIDTH: 270px;
    HEIGHT: 100px;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 6px;
    color: #555555;
}

.custom_tooltip {
    position: absolute;
    padding: 1px;
    border: 1px solid #333333;
    background-color: #fffedf;
    font-size: smaller;
}

.optiontext option, .selecttext select {
    /*font-size: small;
    /*font-family: 'RobotoRegular','Helvetica Neue',Helvetica,sans-serif;*/
}
/*purposely misspelled spn below so that it should not be selected in .row [class*="span"] selector */
.disabledspn {
    opacity: 0.6;
}

.mailboxSettingList {
    list-style: none;
}

body .modal-MailboxSetting-Confirmation .dl-horizontal {
    margin-bottom: 0px;
    margin-top: 2px;
}

    body .modal-MailboxSetting-Confirmation .dl-horizontal dt {
        width: 200px;
        margin-bottom: 0px;
        min-height: 10px;
    }

    body .modal-MailboxSetting-Confirmation .dl-horizontal dd {
        margin-left: 202px;
        margin-bottom: 0px;
        min-height: 10px;
        min-width: 200px;
    }

body .modal-FolderPermissionMessagePopup {
    width: 300px;
    margin-left: -150px;
}


.spantopmargin {
    margin-top: -5px;
}

.safeblockedlist {
    height: 220px !important;
    width: 90%;
}

    .safeblockedlist option {
        margin-top: 4px;
    }

.pagetitleSharepointDashboard {
    color: #007acb;
}

body .modal-MessageSharepointPage {
    width: 400px;
    /*must be half of the width, minus scrollbar on the left (30px) */
    margin: -100px 0 0 -185px;
    top: 50%;
    left: 50%;
}

    body .modal-MessageSharepointPage .modal-body {
        height: 100px;
        max-height: 100px;
    }

.disabledcomboitem {
    color: #999999;
}


.l-space110 {
    margin-left: 110px;
}

.l-space5 {
    margin-left: 5px;
}
.l-space10 {
    margin-left: 10px;
}
.l-space15 {
    margin-left: 15px;
}
.l-space20 {
    margin-left: 20px;
}
.l-space25 {
    margin-left: 25px;
}

.labelwidth {
    width: 90px;
}


body .modal-SharepointTemplate-GroupPickList .modal-dialog {
    width: 50%;
}

body .modal-SharepointTemplate-GroupPickList .modal-body {
    height: 500px;
    overflow: auto;
}

.modaldialogwithdatepicker {
    z-index: 10000 !important;
}

.GuideSiteMenuLeftPadding {
    padding-left: 1px !important;
}

.GuideSiteMenuRightPadding {
    padding-right: 1px !important;
}

.t-space45 {
    margin-top: 45px;
}


.ReportIconHeightForTabs {
    height: 31px;
}

.headinginline {
    display: inline;
}



.dashletbox {
    margin-bottom: 20px;
    height: 212px;
    width: 545px;
    border-color: #ddd;
    background-color: #fff;
    float: left;
    border: 1px solid transparent;
    margin: 15px 15px 15px 15px;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.18);
    -moz-box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.18);
    box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.18);
    /*text-align: center;*/
}

.dashlettitle {
    font-size: 10px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    text-rendering: optimizelegibility;
    margin: 0;
    
}

.dashletbox h6 {
    text-transform: initial;
    color: black;
    font-size: 10px;
}

.dashletbox h1 {
    font-size: 30px;
    font-weight: bold;
    font-family:'RobotoRegular';
}

.dashletcol3 {
    width: 33%;
    padding: 0px;
    float: left;
}

.dashletcol2 {
    width: 50%;
    padding: 0px;
    float: left;
}

.dashletcol1 {
    width: 100%;
    height:55%;
    padding: 0px;
    float: left;
}

.dashboardbackground {
    background-color: #F0F0F0;
}

.dashletbox a {
    font-size: 16px;
    color: #c4c3c3;
    padding:5px;
}

.dashletbox h3 {
font-size:18px;
}

.dashletmarginrow
{
    height:30px;
    width:100%;
}
.dashletmargincol
{
    width:30px;
    height: 100%;
    float:left;
}
.dashletmarginleft {
    width:30px;
    height:100%;
    float: left;
}
.dashletmarginmiddle {
     width:65px;
    height:100%;
     float: left;
}
.dashletmarginright {
    width:30px;
    height:100%;
    float: right;
}

.dashletmiddlecol {
    width:168px;
    height:100%;
     float: left;
}
.dashletmiddlerow {
    height:65px;
    width:100%;
     float: left;
}


.textred {
color: #d00000;
opacity:0.6;
}

.textgreen {
color: #669900;
opacity: 0.6;
}

.DownloadIconExRecip {
position:relative;
top:40px;
}

.t-space61       { margin-top: 61px; }

body .modal-ReportLinks-Properties {
    width: 105px;
    /*margin: -250px 0 0 -400px;*/
        top: 50%;
        left: 50%;
    /*position:relative;*/

}

    body .modal-ReportLinks-Properties .modal-dialog {
        width:105px;
    }

      body .modal-ReportLinks-Properties .modal-content {
        border: none;
    }
      body .modal-ReportLinks-Properties .modal-body {
       padding:0px 5px 0px 5px;
    }

/*.modal-ReportLinks-Properties .table {
    margin-bottom:0px;
}

.modal-ReportLinks-Properties .table > tbody > tr > td {
    padding: 5px;
    }*/

/*.help_link:hover + span {
    display: inline;
}*/

.dashletbox h2 {
    font-size: 18px;
    font-weight: bold;
    font-family:'RobotoRegular';
}

.zeropaddingleft{
    padding-left : 0px;!important;
}


.zeropaddingright{
    padding-right : 0px;!important;
}

.blackbutton-primary{
     background: #333; 
     border-color: #333;
     color: #fff;
}
.blackbutton-primary:hover, .blackbutton-primary:active, .blackbutton-primary:focus
{ background: #999999;   border-color: #333; color: #fff;}
.blackbutton{
     color: #333; 
     border-color: #333;
}
.blackbutton:hover, .blackbutton:active, .blackbutton:focus{
     color: #999999;    
}
.greenbackground{
    background-color:green!important;
    color:white;
}

.blackText{
    color:black!important;
}
.tnav .navbar .container { height: 28px; }
.navbar-primary .navbar { background:#222; border-bottom:none; }
/*.navbar-primary .navbar .nav > li > a {color: #501762;}*/
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #428bca;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:27px; height: 27px;}
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }
.navbar-primary .navbar .nav > li { padding-left:15px; }
.dropdown-menu { min-width:100px;}
.tform-control { 
  display: block; 
  width: 200px; 
  height: 20px; 
  padding-left:10px;
  font-size: 12px;   
  line-height: 1.42857143;
  margin-top:0px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tnavbar-form {
    padding: 2px 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

/*::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } 
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } 
.input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }*/

.displayinline {
display:inline-table;
}

.search-btn {
  height:20px;  
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
  margin-bottom: 0px;
}


/*.userDetailsProperties table td {
padding:10px !important;
}*/

.userDetailsProperties table {
width:450px !important;
}
.userDetailsProperties  td,th {
    padding:6px !important;
    }
 
.TFtable{		 
		border-collapse:collapse; 
	}
	.TFtable td{ 
		border:#333 1px solid;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #e9f3f8;
	}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){ 
		background: #e9f3f8;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #fff;
	}

.dtable {
    background:#e9f3f8;
}

.prodname {
    width: 250px !important;  
   
}

.tenantname {
    font:100 16px/32px 'PT Sans', sans-serif;
    text-align:center;
    width:300px !important;
    /*padding-left:*/
       
}

.topcontainer {
     margin-left:0px !important;
    padding-left:10px !important;
    width:1270px;
}

.invoicetable{
    width:1070px !important;
}

.reportList {
    overflow-x: auto;
    WIDTH: 270px;
    HEIGHT: 600px;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 6px;
    color: #555555;
}

.t-space5 {
    margin-top: 5px;
}

.t-space10 {
    margin-top: 10px;
}

.t-space15 {
    margin-top: 15px;
}

.t-space20 {
    margin-top: 20px;
}

.t-space25 {
    margin-top: 25px;
}

.dashletbox-sem {
    margin-top:10px;
    margin-bottom: 20px;
    height: 40px;
    width: 150px;
    border-color: #ddd;
    background-color: #fff;
    float: left;
    border: 1px solid transparent;
    margin: 15px 15px 15px 15px;
    -webkit-box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.18);
    -moz-box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.18);
    box-shadow: 1px 1px 3px 2px rgba(50, 50, 50, 0.18);
    text-align:center;    
    padding-top:10px;    
}