﻿@model List<Education.Dtos.DashboardDto>
@{
    ViewBag.Title = "Dashboard Navigation";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" align="center">Details</h2><br />
            </div>
        </div>
        @if (ViewBag.Type == "sem")
        {
            <div>
                <a href="#SemI" class="list-group-item test" data-toggle="collapse" data-parent="#SemI" data-target="#demo1">@ViewBag.semTitle</a>

                <div class="nav-collapse collapse list-group-submenu" id="demo1">
                    @foreach (var m in Model)
                    {
                        if (m.subDto.Count != 0)
                        {
                            foreach (var sub in m.subDto)
                            {
                                var subid = "#demo" + sub.Id;
                                var nsubid = "demo" + sub.Id;
                                <a href="#Sub1" class="list-group-item test" data-parent="#Sub1" data-toggle="collapse" data-target="@subid">@Html.Label(sub.SubjectTitle, new { style = "color: #000000;  font-weight:lighter" })</a>

                                <div class="nav-collapse collapse list-group-submenu list-group-submenu-1" id="@nsubid">
                                    @foreach (var c in m.chapDto)
                                    {

                                        if (sub.Id == c.SubjectId)
                                        {
                                            if (m.chapDto.Count != 0 || m.chapDto.Count != null)
                                            {

                                                <a href="#chap" class="list-group-item test" data-parent="#chap" data-toggle="collapse">@Html.Label(c.Title, new { style = "color: #000000;  font-weight:lighter" })</a>

                                                <div class="collapse list-group-submenu list-group-submenu-1" id="chap">
                                                    @foreach (var lect in m.lectDto)
                                                    {

                                                        if (c.Id == lect.ChapterId)
                                                        {
                                                            if (m.lectDto.Count != 0 || m.lectDto.Count != null)
                                                            {

                                                                int id = lect.Id;                                                                
                                                                @Html.ActionLink(lect.LectureTitle, "Index", "Video", new { item = lect.VideoURL, Id=lect.Id})                                                                

                                                            }
                                                        }
                                                    }
                                                </div>


                                            }
                                        }
                                    }
                                </div>
                            }

                        }
                    }
                </div>
            </div>
        }

        @if (ViewBag.Type == "chapter")
        {
            <div>
                <a href="#SemI" class="list-group-item test" data-toggle="collapse" data-parent="#SemI" data-target="#demo1">@ViewBag.subTitle</a>

                <div class="nav-collapse collapse list-group-submenu" id="demo1">
                    @foreach (var m in Model)
                    {
                        if (m.chapDto.Count != 0 || m.chapDto.Count != null)
                        {

                            foreach (var Chap in m.chapDto)
                            {
                                <a href="#demo2" class="list-group-item test" data-parent="#demo2" data-toggle="collapse" data-target="#demo2">@Html.Label(Chap.Title, new { style = "color: #000000;  font-weight:lighter" })</a>

                                <div class="collapse list-group-submenu list-group-submenu-1" id="demo2">
                                    @foreach (var lect in m.lectDto)
                                        {

                                            if (lect.ChapterId == Chap.Id)
                                            {
                                                if (m.lectDto.Count != 0 || m.lectDto.Count != null)
                                                {
                                                 
                                                    int id = lect.Id;    
                                                     <a href="/Video/Index?item=@lect.VideoURL&Id=@lect.Id" class="list-group-item test" data-parent="#chap">@Html.DisplayFor(p => lect.LectureTitle)</a>                                                 
                                                     @*@Html.ActionLink(lect.LectureTitle, "Index", "Video", new { item = lect.VideoURL, Id = lect.Id }, new { @class="list-group-item test", @data-parent="#chap"})*@                                                     
                                                }
                                            }
                                        }
                                </div>
                            }
                        }

                    }
                </div>

            </div>
        }

        @if (ViewBag.Type == "lecture")
        {
            <div>
                <a href="#SemI" class="list-group-item test" data-toggle="collapse" data-parent="#SemI" data-target="#demo1">@ViewBag.lectTitle</a>

                <div class="nav-collapse collapse list-group-submenu" id="demo1">
                    @foreach (var m in Model)
                    {
                        if (m.lectDto.Count != 0 || m.lectDto.Count != null)
                        {

                            foreach (var Lect in m.lectDto)
                            {
                                                              
                                int id = Lect.Id;                                
                               @*@Html.ActionLink(Lect.LectureTitle, "Index", "Video", new { item = Lect.VideoURL, Id = Lect.Id }, new { style = "color: #4B4B4B;  font-weight:lighter" })*@
                         <a href="/Video/Index?item=@Lect.VideoURL&Id=@Lect.Id" class="list-group-item test" data-parent="#chap">@Html.DisplayFor(p => Lect.LectureTitle)</a>

                            }
                        }

                    }
                </div>

            </div>
        }
        <br />
    </div>
</div>
