﻿@model List<Education.Dtos.DashboardDto>
@{
    ViewBag.Title = "Dashboard";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Dashboard</title>
</head>


<body>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" align="center">


                    @foreach (var m in Model)
                    {
                        if (m.SDto.Count == 0 && m.subDto.Count == 0 && m.chapDto.Count == 0)
                        {
                            <tr>
                                <td colspan="5"><h4>You have not subscribed to this portal.</h4></td>
                            </tr>
                        }
                        else
                        {
                            <div class="col-lg-12">
                                <h2 class="page-header">Your Subscription details</h2><br />
                            </div>
                            <tr style="background-color: #AEAEAE; ">
                                <th>Subscription Type</th>
                                <th>Details</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Remaining Days</th>
                            </tr>
                            foreach (var sem in m.SDto)
                            {

                                <tr>

                                    <td><label id="lblSemester" title="Semester" style="color: #4B4B4B; font-weight: lighter">Semester</label></td>
                                    <td>@Html.ActionLink(sem.SemesterTitle, "DashboardNavigation", "Dashboard", new { item = sem.Id, type = "sem", Title = sem.SemesterTitle }, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(sem.CreatedDate.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(sem.EndDate.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(sem.DateDiff, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                </tr>
                            }
                            foreach (var Sub in m.subDto)
                            {

                                <tr>
                                    <td><label id="lblSubject" title="Subject" style="color: #4B4B4B; font-weight: lighter">Subject</label></td>
                                    <td>@Html.ActionLink(Sub.SubjectTitle, "DashboardNavigation", "Dashboard", new { item = Sub.Id, type = "chapter", Title = Sub.SubjectTitle }, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Sub.CreatedDate.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Sub.EndDate.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Sub.DateDiff, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                </tr>

                            }
                            foreach (var Chap in m.chapDto)
                            {


                                <tr>
                                    <td><label id="lblChapter" title="Chapter" style="color: #4B4B4B; font-weight: lighter">Chapter</label></td>
                                    <td>@Html.ActionLink(Chap.Title, "DashboardNavigation", "Dashboard", new { item = Chap.Id, type = "lecture", Title = Chap.Title }, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Chap.CreatedDate.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Chap.EndDate.ToString(), new { style = "color: #4B4B4B;  font-weight:lighter" })</td>
                                    <td>@Html.Label(Chap.DateDiff, new { style = "color: #4B4B4B;  font-weight:lighter" })</td>

                                </tr>
                            }
                        }
                    }

                    <tr>
                        @*<td colspan="3"><input type="submit" value="Pay By Net Banking" class="btn btn-default" /></td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>


</body>
</html>
